@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&display=swap');

@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: "isathing";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: #011525;
	--color-base-200: #01111E;
	--color-base-300: #010E19;
	--color-base-content: #51aafa;
	--color-primary: #51aafa;
	--color-primary-content: oklch(0% 0 0);
	--color-secondary: #2a7faf;
	--color-secondary-content: oklch(98% 0.016 73.684);
	--color-accent: #ffffff;
	--color-accent-content: oklch(96% 0.016 293.756);
	--color-neutral: oklch(27% 0.041 260.031);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: #51aafa;
	--color-info-content: oklch(0% 0 0);
	--color-success: oklch(89% 0.196 126.665);
	--color-success-content: oklch(0% 0 0);
	--color-warning: oklch(90% 0.182 98.111);
	--color-warning-content: oklch(0% 0 0);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(0% 0 0);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}  

@theme inline {
	--font-sans: var(--font-jersey10);
	--font-jersey10: "Jersey 10", var(--font-mono);
	--font-jersey15: "Jersey 15", var(--font-mono);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html,
body {
	@apply h-full overflow-hidden;
}
